.all-sec {
  height: 100%;
  width: 90%;
  margin: auto;
  font-family: fantasy;
}

.section_heading{
  font-size: 25px;
}

.box {
  display: flex;
  font-size: 20px;
  padding: 3px 0;
}

.box input {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.application-form{
    margin-top: 10px;
}