@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

.formPlan {
  height: 100%;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
}

.candidate-name,
.parent-name,
.occupation,
.date-of-birth,
.email,
.address,
.contact,
.qualification {
  padding: 10px 0;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.app-name {
  margin: 8px 0px;
  font-size: 20px;
}

.name > input {
  border: 1px solid gray;
  outline: none;
  width: 100%;
  padding: 3px 5px;
}

.address-form-input {
  margin: 10px 0px;
  display: flex;
}

.street {
  border: 1px solid gray;
  outline: none;
  width: 100%;
  padding: 3px 5px;
  margin-right: 5px;
}

.option {
  outline: none;
  text-decoration: none;
  justify-content: space-between;
}

.qualification-field{
  border: 1px solid gray;
}

.col-btn {
  margin-top: 15px;
  text-align: center;
}

.btn {
  height: 35px;
  width: 100%;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: 15px;
  background: linear-gradient(160deg, black, azure);
  color: azure;
  font-family: "Fira Sans", sans-serif;
}

.btn:hover {
  color: black;
  background-color: azure;
  background: linear-gradient(160deg, azure, black);
}
