.form-landing {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.class-form {
  padding: 2rem;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 50px;
}

.paragraph{
  font-size: 20px;
  text-align: start;
  margin: 20px;
}

.cl-form {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}